<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Datagame</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script type="text/javascript">
    window.pageRoutes = {
      index: "<%= Routes.page_path(@conn, :index) %>",
      sheet: "<%= Routes.page_path(@conn, :sheet) %>",
    };
    window.apiRoutes = {
      show: "<%= Routes.url(@conn) <> Routes.sheet_path(@conn, :show, "") %>",
      create: "<%= Routes.url(@conn) <> Routes.sheet_path(@conn, :create) %>",
    };
    </script>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="mb-8">
    <header class="bg-black">
      <nav class="flex container align-center">
        <a href="<%= Routes.page_path(@conn, :index) %>" style="line-height: 0">
          <img
            style="height: 55px;"
            src="<%= Routes.static_path(@conn, "/images/logo1.png") %>"
            alt="Datagame"
          >
        </a>
        <span class="flex-grow"></span>
        <a target="_blank" rel="noreferrer" href="https://dylanburati.github.io">About me</a>
      </nav>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>
  </body>
</html>
